<div class="mt-[80px]">
  <h1 class="mt-8 text-3xl font-semibold py-6">Danh sách sách</h1>
  <%= render_tabs do %>
    <%= tab_list do %>
      <%= tab t(".pending_list"), active: true %>
      <%= tab t(".borrowed_list") %>
      <%= tab t(".borrowing_list") %>
    <% end %>
    <%= tab_panels do %>
      <%= tab_panel active: true do %>
        <%= render "books_list", books: @pending_books, show_trash_icon: false %>
      <% end %>
      <%= tab_panel do %>
        <%= render "books_list", books: @borrowed_books, show_trash_icon: false %>
      <% end %>
      <%= tab_panel do %>
        <%= render "books_list", books: @borrowing_books, show_trash_icon: false %>
      <% end %>
    <% end %>
  <% end %>
</div>
